{% extends "base.html" %}

{% block content %}
  <div class="flex h-screen">
    <!-- Sidebar -->
    <aside class="w-64 bg-bg-light border-r border-border">
      {% block sidebar %}{% include "partials/sidebar.html" %}{% endblock %}
    </aside>
    
    <!-- Contenu principal -->
    <div class="flex-1 flex flex-col">
      <!-- Topbar -->
      <header class="bg-white border-b border-border">
        {% block topbar %}{% include "partials/topbar.html" %}{% endblock %}
      </header>
      
      <!-- Contenu de la page -->
      <main class="flex-1 overflow-auto p-6">
        {% block page_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}